<html>
    <head>
        <title>{% block title %} {{title or "Filiados"}} {% endblock %}</title>        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" href="/static/styles/global.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
        <script type="application/javascript" src="{{ url_for('static', filename='scripts/global.js')}}"></script> 
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/style.css') }}">      
    </head>
    <body>       
       <nav>
           <a href="{{url_for('filiados.main')}}">Consultar</a>
       </nav>
       <hr />
       {% block content %} 
       {% endblock %}
    </body>
</html>